.header {
  text-align: center;
  size: 50px;
  color: rgb(15, 54, 54);
}
.title {
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
  background-color: blanchedalmond;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.form {
  background-color: beige;
  margin-bottom: 40px;
  padding: 60px;
}
.searchbar {
  background-color: rgb(12, 11, 11);
}

.currentWeather {
  background-color: beige;
  border: 20px;
  margin-top: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex: auto;
  flex-direction: row;
}

.nextFiveDays {
  background-color: beige;
  border: 20px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex: auto;
  flex-direction: row;
}

.day {
}
